<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li><a href="Einfuehrung.html">IG Home</a></li>
  <li><a href="toc.html">Table of Contents</a></li>
  <li><a href="ReleaseNotes.html">Release Notes</a></li>
  <li><a href="Motivation.html">Motivation</a></li>  
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Uebergreifende Festlegungen<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="UebergreifendeFestlegungen.html">Uebergreifende Festlegungen</a>
      </li>
    </ul>
  </li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Datenobjekte<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="Datenobjekte.html">Datenobjekte</a>
      </li>
    </ul>
  </li>
</ul>      
